.newProduct{
    flex:4;
}

.newProductForm{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.newProductItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px;
}
.newProductTitle{
    margin-left: 20px;
}
.newProductItem>label{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 650;
    color: darkgray;
}
.newProductItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newProductItem>select{
    /* height: 20px; */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
 
    
}

.newProductGender > input{
    margin-top: 15px;
}
.newProductGender > label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}
.newProductSelect{
    height: 40px;
    border-radius: 5px;
}

.newProductButton{
    height: 30px;
    width: 200px;
    border: none;
    background-color: purple;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    align-self: center;
}